*{
    margin: 0;
    padding: 0;
}
.main{
    height: 200vh;
    background-color: antiquewhite;
}
.flag{
    height: 250px;
    width: 500px;
    background-color: green;
    position:relative;
    left: 30%;
    top: 20%;
}
.circle{
    background-color: red;
    height: 130px;
    width: 130px;
    border-radius: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}
.stan{
    height: 500px;
    width: 30px;
    background-color: black;
    position: relative;
    top: -52%;
    border-top-right-radius: 30px;
}
.footer{
    height: 30px;
    width: 80px;
    background-color: black;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}
.nfooter{
    height: 40px;
    width: 110px;
    background-color: black;
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}